@use 'sass:color';
@use '../../styles/colors';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 2.75rem;
  outline: 0;
  border: 0;
  padding: 0.75rem 1.5rem;
  background-color: colors.$light-surface;
  color: colors.$light-text;
  transition:
    0.2s ease-in-out background-color,
    0.2s ease-in-out color,
    0.2s ease-in-out border-color;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  position: relative;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$dark-surface;
    color: colors.$dark-text;
  }

  &.loading {
    svg {
      margin-left: 0;
    }
  }

  &.primary {
    background-color: colors.$primary;
    color: colors.$dark-text;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: color.adjust(#f0f0f0, $lightness: -40%);
  }
}
