@use '../../styles/colors';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: colors.$light-surface;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
    color: colors.$light-text;
    border-radius: 0.5rem;
    padding: 0.75rem;

    svg {
      color: colors.$accent;
    }

    input {
      border-radius: 0;
      box-shadow: none;
      padding: 0;
    }

    @media (prefers-color-scheme: dark) {
      background-color: colors.$dark-surface;
      color: colors.$dark-text;
    }
  }

  .suggestions {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0.75rem;
    background-color: colors.$light-surface;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.1);
    color: colors.$light-text;
    border-radius: 0.5rem;
    margin-top: 1rem;

    li {
      padding: 0.75rem;
      cursor: pointer;

      &:hover {
        color: colors.$primary;
      }

      mark {
        background-color: transparent;
        color: inherit;
        font-weight: bold;
      }
    }

    @media (prefers-color-scheme: dark) {
      background-color: colors.$dark-surface;
      color: colors.$dark-text;
    }
  }
}
